---
import Base from "./base.astro";
import Container from "../components/Container.astro";
import sanitizeHtml from "sanitize-html";

import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

dayjs.extend(utc);
const { frontmatter, parent, parent_url } = Astro.props;
const published_date = dayjs(frontmatter.published_date)
    .utc()
    .format("DD MMMM YYYY");
---
<Base title={frontmatter.title}>
    <Container>
        <div class="flex flex-row justify-between items-center pb-4 not-prose text-md">
            <a href={`/${parent_url}`}>&#8592; Back to {parent}</a>
            <span class="font-mono text-sm">{published_date}</span>
        </div>
        <h1 class="text-2xl lg:text-xl font-serif pt-4">{sanitizeHtml(frontmatter.title)}</h1>
        <slot />
    </Container>
</Base>